{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
     <img src='{% static "techno.jpg" %}'  class="img-rounded center-block" width="100%" height="100%">
	</div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
<!-- <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Faculty Convenor&nbsp;:&nbsp;&nbsp;Savitesh M Sharma</h1> -->
<!-- <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-8126791060</h4> -->
              <h4 class="font-weight-bold">Faculty Convenor    : Savitesh M Sharma</h4><br>
              <h4 class="font-weight-bold">Faculty Co-Convenor :  Ajay Kumar Varma</h4><br>
              <h4 class="font-weight-bold">Contact at :8126791060</h4>
<!-- <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Faculty Co-Convenor&nbsp;:&nbsp;&nbsp;Ajay Kumar Verma</h1> -->

</div>
</div>
{% endblock %}
</body>
</html>
